body {
	background-color: #0D1940;
	text-align: center;
	color: #F2B705;
	font-family: roboto;
	font-weight: bold;
}

input {
	width: 100%;
	border: none;
	background-color: #0D1940;
	border-bottom: 5px solid #F2B705;
	text-align: center;
	margin-bottom: 30px;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #F2B705;
}

input:focus {
	outline: none;
}

button:focus {
	outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.color-scheme-container {
	padding: 25px;
}

.color-scheme {
	height: 125px;
	width: 125px;
	background-color: red;
	border-radius: 50%;
}

.button-container {
	height: 100px;
}

.result {
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	animation-duration: 60ms;
	color: black;
	font-size: 15px;
}

.result span {
 display: inline-block;
 vertical-align: middle;
 line-height: normal;
}

.reset-container {
	display: none;
}

.filter-container {
	float: right;
}

#cs1 {
	background-color: #00ADB5;
}

#cs2 {
	background-color: #EA989F;
}

#cs3 {
	background-color: #FF0000;
}

#cs4 {
	background-color: #46518C;
}

.body-cs1 {
	background-color: #393E46;
	color: #00ADB5;
}

.h2-cs1 {
	border-color: #00ADB5;
}

.user-number-cs1 {
	background-color: #393E46;
	border-color: #00ADB5;
	color: #00ADB5;
}

.body-cs2 {
	background-color: #735680;
	color: #5B7CC3;
}



.user-number-cs2 {
	background-color: #735680;
	border-color: #5B7CC3;
	color: #5B7CC3;
}

.body-cs3 {
	background-color: #FF3300;
	color: #F0CC00;
}



.user-number-cs3 {
	background-color: #FF3300;
	border-color: #F0CC00;
	color: #F0CC00;
}

.body-cs4 {
	background-color: #46518C;
	color: #D996A7;
}



.user-number-cs4 {
	background-color: #46518C;
	border-color: #D996A7;
	color: #D996A7;
}
