body {
	background-color: skyblue;
}

.result {
	width: 100px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	background-color: black;
	display: none;
	animation-duration: 80ms;
	color: white;
}

.result span {
 display: inline-block;
 vertical-align: middle;
 line-height: normal;
}

