body {
	background-color: black;
}

.result {
	width: 100px;
	height: 200px;
	line-height: 200px;
	border: 1px solid white;
	border-radius: 50%;
	text-align: center;
	background-color: white;
}

.result span {
 display: inline-block;
 
 vertical-align: middle;
 
 line-height: normal;
}